/* Global Page Style */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

/* ===== NAVBAR ===== */
.navbar {
    background-color:  #343a40; /* Green */
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.btn {
    background-color: orangered; /* Grey */
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.btn:hover {
    background-color: #7c7c7c;
}

/* ===== HERO SECTION ===== */
.hero {
    background-color: #00C853; /* Green */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 60px;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.get-started {
    background-color: orangered;
    padding: 12px 28px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
}

.get-started:hover {
    background-color: #7c7c7c;
}

/* Hero Image */
.hero-img img {
    width: 420px;
    max-width: 100%;
}

/* ===== FOOTER ===== */
footer {
    background-color: #00C853; /* Green */
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 15px;
    width: 100%;
    margin-top: 0;
}
